<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>掲示板</title>
</head>
<body>
	<form method="post" action="/new">
		<input type="text" name="value">
		<input type="submit" value="投稿する">
	</form>

	<% if @values.kind_of?(Array) %>
		<% @values.each do |t| %>
			<%= Time.at(t["time"].slice(0..9).to_i).to_s.delete("+0900") %>
			<%= escape_html t[@key] %>
			<br >
		<% end %>
	<% end %>
</body>
</html>
