<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>掲示板</title>
</head>
<body>
	<form method="post" action="/new">
		<input type="text" name="value">
		<input type="submit" value="投稿する">
	</form>

	<% if @values.kind_of?(Array) %>
		<% @values.each do |t| %>
			<%= t["time"] %>
			<%= t[@key] %>
			
		<% end %>
	<% end %>
</body>
</html>
